In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl
import warnings
warnings.filterwarnings('ignore')

# Local Purchases

In [2]:
local = pd.read_excel('Local Purchases 1-5 August 2023.xlsx')
local.head()

        Date  Issued To                Item Name   Qty  Unit price    Amount
0 2023-08-01        NaN  H.A General Auto Paints   NaN         NaN       NaN
1 2023-08-01        NaN               Black Duco   2.0     75000.0  150000.0
2 2023-08-01        NaN       Plastic Primer 615   1.0     80000.0   80000.0
3 2023-08-01        NaN  H.A General Auto Paints   NaN         NaN       NaN
4 2023-08-01        NaN         Thinner Standard  32.0      9000.0  288000.0

In [3]:
local.shape

(45, 6)

In [4]:
#Changing date column data type to datetime
local["Date"] = pd.to_datetime(local["Date"], format="%A, %d %B %Y")

In [5]:
# Replacing null values in "Issued To" column with the corresponding non-null value in "Items" column
local.loc[local["Issued To"].isnull() & local["Qty"].isnull(), "Issued To"] = local.loc[local["Issued To"].isnull() & local["Qty"].isnull(), "Item Name"]
local.head()

,Date,Issued To,Item Name,Qty,Unit price,Amount
0,2023-08-01,H.A General Auto Paints,H.A General Auto Paints,NaN,NaN,NaN
1,2023-08-01,NaN,Black Duco,2.0,75000.0,150000.0
2,2023-08-01,NaN,Plastic Primer 615,1.0,80000.0,80000.0
3,2023-08-01,H.A General Auto Paints,H.A General Auto Paints,NaN,NaN,NaN
4,2023-08-01,NaN,Thinner Standard,32.0,9000.0,288000.0

In [6]:
# Forward-fill missing Values in the Issued To column
local["Issued To"].fillna(method="ffill", inplace=True)
local.head()

,Date,Issued To,Item Name,Qty,Unit price,Amount
0,2023-08-01,H.A General Auto Paints,H.A General Auto Paints,NaN,NaN,NaN
1,2023-08-01,H.A General Auto Paints,Black Duco,2.0,75000.0,150000.0
2,2023-08-01,H.A General Auto Paints,Plastic Primer 615,1.0,80000.0,80000.0
3,2023-08-01,H.A General Auto Paints,H.A General Auto Paints,NaN,NaN,NaN
4,2023-08-01,H.A General Auto Paints,Thinner Standard,32.0,9000.0,288000.0

In [7]:
# Droping rows with NaN values
local.dropna(inplace=True)
local.head()

,Date,Issued To,Item Name,Qty,Unit price,Amount
1,2023-08-01,H.A General Auto Paints,Black Duco,2.0,75000.0,150000.0
2,2023-08-01,H.A General Auto Paints,Plastic Primer 615,1.0,80000.0,80000.0
4,2023-08-01,H.A General Auto Paints,Thinner Standard,32.0,9000.0,288000.0
6,2023-08-01,TRUTH AUTO PARTS,Bfgoodrich Tyres 285/55R20 L/cv8,8.0,1376975.0,11015800.0
8,2023-08-02,Sekivan Tyres Centre,Yokohama Tyre 265/60 R18,1.0,783750.0,783750.0

In [8]:
local.shape

(26, 6)

In [9]:
local.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 1 to 44
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        26 non-null     datetime64[ns]
 1   Issued To   26 non-null     object
 2   Item Name   26 non-null     object
 3   Qty         26 non-null     float64
 4   Unit price  26 non-null     float64
 5   Amount      26 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.4+ KB

In [10]:
local['Amount'].sum()

24056852.0

In [11]:
local['Issued To'].value_counts()

Issued To
H.A General Auto Paints          8
M&R Auto Parts                   5
Emergency  Auto Center           2
Haruna & Sons                    2
MADIINAH GENERAL HARDWARE        2
TOYOTA CAR PARTS                 2
RICHARD MATSIKO                  2
TRUTH AUTO PARTS                 1
Sekivan Tyres Centre             1
Africa Fuels & Lubricants LTD    1
Name: count, dtype: int64

In [13]:
local['Item Name'].value_counts()

Item Name
Black Duco                                  2
Thinner Standard                            2
SILCON TUBE                                 2
Frt Windscreen-Hilux Newmodel               2
Gas Wire                                    1
FRT Windscreen-Harrier                      1
JK TYRES-215/55R17                          1
Frt Windscreen -Prado Kdj/lj150r N/model    1
Head Lamp RH 81110-0K720 Hilux Revo         1
Brake Shoe 04495-35250 Hiace Kdh222r        1
Body File (Original)                        1
Engine Oil Synthetic SAE 5W30               1
Plastic Primer 615                          1
Slow Thinner 601                            1
Hardener Thinner 651 - All                  1
Thinner Clear                               1
Sand Paper P2000                            1
Sand Paper 320                              1
G.T SAVERO-215/70R16                        1
Yokohama Tyre 265/60 R18                    1
Bfgoodrich Tyres 285/55R20 L/cv8            1
Frt Windscreen-L/c Grj300r                  1
Name: count, dtype: int64

In [ ]:
local.to_excel()