In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl
import warnings
warnings.filterwarnings('ignore')

# Local Purchases

In [2]:
local = pd.read_excel('Local Purchases 1-5 August 2023.xlsx')
local.head()

        Date                Item Name   Qty  Unit price    Amount
0 2023-08-01  H.A General Auto Paints   NaN         NaN       NaN
1 2023-08-01               Black Duco   2.0     75000.0  150000.0
2 2023-08-01       Plastic Primer 615   1.0     80000.0   80000.0
3 2023-08-01  H.A General Auto Paints   NaN         NaN       NaN
4 2023-08-01         Thinner Standard  32.0      9000.0  288000.0

In [3]:
local.shape

(45, 5)

In [4]:
#Changing date column data type to datetime
local["Date"] = pd.to_datetime(local["Date"], format="%A, %d %B %Y")

In [5]:
# Replacing null values in "Issued To" column with the corresponding non-null value in "Items" column
local.loc[local["Issued To"].isnull() & local["Qty"].isnull(), "Issued To"] = local.loc[local["Issued To"].isnull() & local["Qty"].isnull(), "Item Name"]
local.head()

KeyError: 'Issued To'

In [ ]:
# Forward-fill missing Values in the Issued To column
local["Issued To"].fillna(method="ffill", inplace=True)
local.head()

In [ ]:
# Droping rows with NaN values
local.dropna(inplace=True)
local.head()

In [ ]:
local.shape

In [ ]:
local.info()

In [ ]:
local['Amount'].sum()

In [ ]:
local['Issued To'].value_counts()

In [ ]:
local['Items'].value_counts()